{
  "presets": [
    "react",
    ["env", {
    	"targets": {
			"browsers": ["last 2 versions", "safari >= 7"]
		},
    	"debug": true
    }],
    "stage-1"
  ],
  "plugins": [
    	"syntax-async-functions", 
    	"syntax-dynamic-import",
    	"dynamic-import-webpack"
    ]
}